@{
    var articles = ViewData["Articles"] as List<Articles>;
    var magasins = ViewData["Magasins"] as List<Magasins>;
}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="tab-pane" id="edit">
                        <center><h3>Voir Sortie</h3></center>
                        <form asp-controller="Home" asp-action="Voir_Sortie_stock" method="post">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Date du debut</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="date_debut" style="height: 50px" type="date" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Date Fin</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="date_fin" style="height: 50px" type="date" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Article</label>
                                <div class="col-lg-9">
                                    <select name="article_id" id="" class="form-control" style="height: 50px">
                                        @foreach(var item in articles){
                                            <option value="@item.article_id">@item.nom</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Magasin</label>
                                <div class="col-lg-9">
                                    <select name="magasin_id" id="" class="form-control" style="height: 50px">
                                        @foreach(var item in magasins){
                                            <option value="@item.magasin_id">@item.nom</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>